body
{
    background-color:gray;
    font-family: 'Bangers', cursive;
}
#container
{
 width:1000px;
 margin-left:auto;
 margin-right:auto;   
}
#logo
{
    color:white;
    margin-top:20px;
    font-size:44px;
    letter-spacing:17px;
}
#men
{

}
#topbar
{

}
#sidebar
{

}
#content
{

}