body
{
    background-color:#404040;
    font-family: 'Bangers', cursive;
}
#container
{
 width:1000px;
 margin-left:auto;
 margin-right:auto;   
}
#logo
{
    color:white;
    margin-top:20px;
    font-size:44px;
    letter-spacing:17px;
    font-weight:900;
}
#menu
{
background-color: #303030;
margin-top:20px;
color: #ffffff;
padding: 10px;

}
#topbar
{
   background-color:#f01b1b;
   color:white;
   padding: 10px;
   margin-top:20px;
   margin-bottom:25px;
   height: 200px;
   
}
#topbarL
{
    float:left;

    width: 250px;
    
    
    
  
   
}
#photo
 { 
    width:230px;
    height:200px;
 } 
#topbarR
{
    float:left;
    padding:20px;
    width: 650px;
    font-size: 16 px;
    text-align:justify;
}
#sidebar
{
    float:left;
    width:148px;
    min-height:620px;
    padding: 10px;
    background-color:lightgray;
    text-align:center;
   
    border-right: 2px dotted #666666;


}
#content
{
    float:left;
    padding:40px;
    width:730px;
    background-color: #dedede;
    min-height:580px;
    text-align:justify;
}
#footer
{
    clear:both;
}
.option
{
    float:left;
    min-width:50px;
    height:25px;
    font-size:18px;
    padding:10px;
    border-right: 2px dotted #444444;
    opacity: 08;
    
}
.option:hover
{
    background: #000000 ;
    cursor: pointer;;
}
.optionL
{
    font-size:18px;
    height:60px;
    padding:10px;
    border-bottom: 2px dotted #444444;
}
.optionL:hover
{
    background-color: #f36742;
    color:white;
    cursor:pointer;
}
