body
{
    background-color:#404040;
    font-family: 'Bangers', cursive;
}
#container
{
 width:1000px;
 margin-left:auto;
 margin-right:auto;   
}
#logo
{
    color:white;
    margin-top:20px;
    font-size:44px;
    letter-spacing:17px;
    font-weight:900;
}
#menu
{
background-color: #303030;
margin-top:20px;
color: #ffffff;
padding: 10px;

}
#topbar
{
   background-color:#128870;
   color:white;
   padding: 10px;
   margin-bottom:25px;
   height: 170px;
   
}
#topbarL
{
    float:left;
    height: 140px;
    width: 140px;
}
#topbarR
{
    float:left;
    height: 140px;
    width: 300px;
}
#sidebar
{

}
#content
{

}
.option
{
    float:left;
    min-width:50px;
    height:25px;
    font-size:18px;
    padding:10px;
    border-right: 2px dotted #444444;
    opacity: 08;
    
}
.option:hover
{
    background: #000000 ;
    cursor:pointer;

}